<html>
    <h1><%=params[:team][:name]%></h1>
    <h2>Team Motto: <%=params[:team][:motto]%></h2>
    <p>Hero Name: <%=params[:member1_name]%>, Hero Power: <%=params[:member1_power]%>, Hero Biography: <%=params[:member1_bio]%>, </p>
    <p>Hero Name: <%=params[:member2_name]%>, Hero Power: <%=params[:member2_power]%>, Hero Biography: <%=params[:member2_bio]%>, </p>
    <p>Hero Name: <%=params[:member3_name]%>, Hero Power: <%=params[:member3_power]%>, Hero Biography: <%=params[:member3_bio]%>, </p>

</html>