<!DOCTYPE HTML>
<html>
    <head>
    </head>
    <body>
    <h1><%=@team_name%></h1>
    <h3>Team Motto: <%=@team_motto%></h3>

    <p>
    Hero Name: <%=@hero1_name%><br>
    Hero Power: <%=@hero1_power%><br>
    Hero Biography: <%=@hero1_bio%><br>
    </p>
    <p>
    Hero Name: <%=@hero2_name%><br>
    Hero Power: <%=@hero2_power%><br>
    Hero Biography: <%=@hero2_bio%><br>
    </p>
    <p>
    Hero Name: <%=@hero3_name%><br>
    Hero Power: <%=@hero3_power%><br>
    Hero Biography: <%=@hero3_bio%><br>
    </p>


    </body>
</html>