<!DOCTYPE html>
<html>
<body>
<h1>Team Name:</h1> <%= @team_name %>
<h2>Team Motto:</h2> <%= @team_motto %>

<h1>Heroes</h1>
<% @team_members.each_with_index do |team_member, index| %>
  <p>Hero Name: <%= @names[index] %></p>
  <p>Hero Power: <%= @powers[index] %></p>
  <p>Hero Biography: <%= @bios[index] %></p>
<% end %>

